$white_color:#fff;
$black_color:#000000;
$gray_color:#e7e4df;
$red_color:#c90000;
$gold_color:#ff7b54;
$facebook_color:rgb(59, 89, 152);
$twitter_color:rgb(85, 85, 85);
$instagram_color:rgb(224, 53, 102);
$tiktok_color:rgb(254, 44, 85);
$pinterest_color:rgb(203, 32, 39);
$background-color:#EBE9DE;





$font_family:"Albert Sans", sans-serif;
$default_size:17px;